사용자가 원하는 코인 이름 타임 프레임 기간(디폴트는 처음부터 전부)을 설정하면 데이터베이스에서 찾아서 dataframe으로 가져와주는 클래스

In [9]:
import pymysql
import pandas as pd

In [12]:
class DB_Bot:
    symbol = ["BTC/USDT", "ETH/USDT", "XRP/USDT", "ETC/USDT", "ADA/USDT"]
    def __init__(self,coin_name, since = "2020-01-01 00:00:00"):
        self.coin_name = coin_name
        self.since = since
    
    def connect_db(self):
        host = "127.0.0.1"
        port = 3306
        username = "root"
        database = "CoinData"
        password = "825582qaz"
        try:
            con = pymysql.connect(host=host, user=username, password=password,
                            db=database, charset='utf8') # 한글처리 (charset = 'utf8')
        except:
            print(">> connection 실패 ")
            return False

        return con
    
    def GetData(self):
        con = self.connect_db()
        cur = con.cursor()
        sql = "SELECT * FROM CoinData."+str(self.coin_name)+" where timestamp >= " +"'"+ str(self.since)+"'"+";"
        
        cur.execute(sql)
        data = cur.fetchall()
        
        cur.close()
        con.close()
        col = ["datetime", "open", "high", "low", "close", "volume"]
        data = pd.DataFrame(data,columns = col)
        return data

In [13]:
data = DB_Bot("ADA_USDT_1d").GetData()
data

       datetime     open     high      low    close       volume
0    2020-01-01  0.03285  0.03380  0.03270  0.03348   29827408.5
1    2020-01-02  0.03345  0.03348  0.03218  0.03269   42826456.1
2    2020-01-03  0.03269  0.03446  0.03236  0.03417  102581046.7
3    2020-01-04  0.03417  0.03450  0.03375  0.03434   55528746.4
4    2020-01-05  0.03436  0.03527  0.03419  0.03460   71815282.1
...         ...      ...      ...      ...      ...          ...
1162 2023-03-08  0.33050  0.33280  0.32160  0.32330   23357953.6
1163 2023-03-09  0.31750  0.31780  0.31490  0.31610    9279783.6
1164 2023-03-10  0.31020  0.31030  0.30360  0.30780   27893860.3
1165 2023-03-11  0.31490  0.32280  0.30130  0.30510  174341847.2
1166 2023-03-12  0.30510  0.30820  0.30130  0.30450   62522214.2

[1167 rows x 6 columns]